/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
$regular:'Akrobat-regular';
$bold:'black';

@mixin gradient {background-image: linear-gradient(left,#5AB9EA , #8664D1,);
    
}
@mixin hover-blue {background-color: #5AB9EA;color:#fff;transition:all .5s ease;border:4px solid #fff;}
@mixin tags {color:#5AB9EA;transition:all .5s ease-out;
    
}
@mixin form {display:flex;flex-wrap:wrap;justify-content: flex-end;align-items:center;
    label{display:flex;margin-bottom:20px;margin-left:20px;font-family:'regular';align-items:center;cursor: pointer;font-size:20px;
        input{font-family:'regular';padding:20px !important;margin-right:15px;background-color: transparent;appearance: none;cursor: pointer;}
        input[type="checkbox"]{background-color:transparent !important;border:4px solid #fff;outline:none;zoom:0.5;}
        
        input[type='checkbox']:checked
        {
            position:relative;border:4px solid #89CFE6;
            
        }
        input[type='checkbox']:checked:before{ content:'';display:block;width:17px;height:16px;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);background:url(./img/foursquare-check-in.png);background-position:center; -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
        }
        &:checked{color:#000;}
       
       
    }
    label:checked{color:#000;}
    #move-available{transition:all .5s ease;position: relative;display: flex;justify-content:center;
            &:hover{@include hover-blue()}
            span{padding-left:5px;}
            input{width:80px;border: none;margin-left:14px;height: 100%;text-align: center;outline:none;position: relative;right: 0}
        }
        
}
p{font-size:16px;font-family:'regular';}
h1,h2,h3,h4{font-size:30px;}
input[type="checkbox"]:checked ~ label {
    color:#000 !important;
  }
.heroe{display:flex;flex-direction: column;align-items:center;justify-content: center;
    .image{order:2;width:100%;display:none;
        img{width: -webkit-fill-available;
            object-fit: cover;}
    
    }
    .heroe-text{@include gradient;color: #fff;text-align:center;display:flex;flex-direction: column;justify-content: center;padding-right:20px;padding-top:50px;width:100%;height:100vh;;
       h1{font-family:'black';font-size:35px;padding-bottom:30px;padding-top:20px;}
       p{font-family: 'regular';line-height:1.2;padding-bottom:20px;padding-left:20px;font-size:22px;}
       a{color:#fff;font-family:'regular';display: flex;justify-content:flex-end;align-items: center;text-decoration: none;margin-bottom:20px;
        &:before{width:50px;background-color: #fff;content: '';display: block;height:1px;margin-right:12px;;}
        &:hover{@include tags;}
    }
        form{@include form;width:100%;margin-left:auto;margin-top:40px;justify-content: center;
             
            }
            #move-available{font-family:'regular';width:96%;background:transparent;border:none;border:2px solid #fff;color: #fff;font-size:18px;align-items: center;margin-bottom:20px;height:50px;transition: all .6s ease-out;
                &:hover{@include hover-blue();}
            }

        }
   
    
    }
   


.story{margin:50px 0;
    h2{font-family:'regular';}
    
}
.community{display: flex;flex-direction:column;justify-content: center;align-items: center;@include gradient;;padding:50px 5%;color:#fff;;
    h3{text-align:center;margin-bottom:30px;font-family:'bold';}
    form{@include form;width:100%;margin-left:auto;justify-content: center;
        label{margin-left:18px;}
             
    }
    #move-available{font-family:'regular';width:90%;background:transparent;border:none;border:2px solid #fff;color: #fff;font-size:22px;align-items: center;margin-bottom:20px;height:50px;display:flex;justify-content:center;
        span{font-family:'bold';padding-left:5px;}
    }
    
}
.tabs{margin:50px 0;
    .card{padding:30px 5%;border:none;border-radius:0;
        ul{display: flex;flex-direction: column;justify-content: center;align-items: center;;
            li{font-family:'regular';padding:10px 0;width:100%;padding-left:20px;border-left:3px solid #000;display:flex;align-items: center;transition:all .5s ease;
                &.active{border-left:5px solid #8860D0;position: relative;left:-1px;}
                a{color:#6D7278;text-decoration: none;transition:all .5s ease;font-size: 22px;}
                &:hover{
                    a{color:#8860D0;transition:all .5s ease;}}
            }

        }
    }
    .category{background-color:#8860D0;color:#fff;padding:5%;
        h3{font-family:'bold';padding-bottom:30px;}
        p{font-family: 'regular';margin-bottom:30px;}
        ol{padding:3%;
            li{list-style:decimal;font-family:'regular';padding-bottom:15px;line-height:20px;}
        }
    
}
.fade:not(.show) {
    opacity: 1;
}


}
.downloads{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;;
    p{font-family:'bold';text-align:left;line-height:20px;margin-bottom:20px;}
    .download-form{padding-bottom:40px;
        h4{font-family:'bold';padding-bottom:25px;font-size:28px;}
        p{text-align:left;}
        a{text-align:center;border:4px solid #89CFE6;height:50px;display: block;display: flex;align-items: center;justify-content: center;font-family:'regular';color:#000;font-size:22px;text-decoration: none;transition:all .5s ease-in-out;width:60%;
            &:hover{@include hover-blue();}
        }
    }
}
.sponsor{@include gradient;;padding:50px 0;
    h3{font-family: 'bold';}
    p{padding-top:25px;font-family:'regular';color:#fff;line-height:1.4;}
    .sponsor-items{border-right:4px solid #fff;padding-right:10%;padding-bottom:10%;position: relative;margin-bottom:30px;margin-top:40px;height:70%;display: flex;flex-direction: column;justify-content: space-between;
        &:after{display: block;content:'';height:4px;width:70%;background-color: #fff;position: absolute;bottom: 0;right:0;}
        p{padding-bottom:25px;line-height: 1.2;padding-top: 0;font-size: 18px;}
        a{color: #fff;text-decoration: none;font-family: 'regular';display: flex;align-items: center;justify-content: flex-end;transition:all .5s ease-in-out;
            &:before{display: block;content:'';background-color: #fff;width:50px;height:2px;margin-right:12px;}
            &:hover{color: #000;transition:all .5s ease-in;}
        }
    }
    h6{font-family: 'bold';color:#fff;padding-top:30px;line-height:30px;}
}
.equipment{display: flex;flex-direction:column;justify-content: center;align-items: center;padding:50px 5%;;
    .text{margin-bottom:30px;
    h3{font-family: 'bold';padding-bottom:30px;}
    p{font-family: 'regular';padding-bottom:20px;}
    a{font-family: 'regular';color:#000;border:4px solid #5ac4ea;height:50px;display: block;font-size:14px;display: flex;justify-content: center;align-items: center;width:60%;transition:all .5s ease-in-out;text-decoration: none;;
        &:hover{@include hover-blue();}
        

        
    }
}}
.photo-gallery{
    
    .img{height:114px;overflow: hidden;margin:.5%;background:#5AB9EA;display:flex;justify-content: center;align-items: center;position: relative;transition:all .5s ease;
        .icon{position:absolute;height:70px;width:70px;background-color:#5AB9EA;border-radius:100%;display: flex;align-items: center;justify-content: center;opacity:0;;transition:all .5s ease-in-out;
            img.icon-img{height:20px;width:auto;}
        }
        h5{font-family:'bold';white-space: pre-line;text-transform:capitalize;line-height:1.3;text-align:center;}
        img{max-width:100%; max-height:100%;height:100%;width: 100%;object-fit: cover;}
        &:hover{transition:all .5s ease;cursor:zoom-out;
            .icon{display: flex;transition:all .5s ease;opacity:1;}
           
        }
    }
}


.stories{display: flex;flex-direction: column;margin:50px 5%;
    .description{margin-bottom:30px;
        h3{font-family: 'semi';font-size:30px;padding-bottom:30px;}
        p{font-family: 'regular';}
        a{border:4px solid #89CFE6;height:50px;display: flex;align-items: center;justify-content: center;font-family: 'regular';width:200px;font-size:14px;margin-top:25px;color:#000;text-decoration:none;transition:all .5s ease-in-out;
            &:hover{@include hover-blue();}
            
        }
    }
    img{height:250px;}
    .story-cards{
        aside.card{padding:30px 20px;overflow: hidden;margin-bottom:20px;border:none;position: relative;;
            a.block{position: absolute;height: 100%;width:100%;}
            p{padding-right:20px;margin-bottom:40px;}
            a{color:#6D7278;font-family:'regular';transition:all .5s ease;
                
                
            }
         span{align-self:flex-end;transform: rotate(-90deg);top:50%;justify-self:center;position:absolute;background-color: #89CFE6;right: -95%;top: 42%;padding:8px 40px;font-family: 'bold';text-align: center;width:200%;;}
         &:hover{
             a{transform: scale(1.0101);color:#5AB9EA;}}
        }
    }

}
section.quote{ @include gradient;padding:50px 5%;text-align:left;font-family:'semi';color:#fff;line-height:1.3;
    p{white-space: pre-line;text-align: center;}

    span{font-family:'regular';}

}
.questions{display: flex;margin:50px 5%;flex-wrap:wrap;align-items: center;justify-content: center;
    h2{font-family: 'semi';padding-bottom:40px;text-transform: capitalize;font-size: 30px;}
    h6{font-size:20px;font-family: 'semi';padding-bottom:20px;text-align: center;width:100%;}
   .contact{text-align: center;
       
       p{font-family:'regular';}
       a{color:#000;font-family:'semi';display:flex;align-items:center;border:4px solid #5AB9EA;width:190px;height:50px;justify-content:center;margin-top:30px;text-decoration: none;transition:all .5s ease-in-out;margin:40px auto;;
        
        &:hover{@include hover-blue();}
    }

    form{width:100%;
        p{font-family: 'bold';padding-bottom:20px;}
        input,textarea{border:none;font-family:'bold';color:#979797;font-size:21px;border-bottom:1px solid #979797;border-radius:0;outline:none;box-shadow:none !important;padding-bottom:20px;margin-bottom:20px;;}
        textarea{font-family:'regular';padding-bottom:0px;}
        button{width:250px;border:none;border:4px solid #5AB9EA;display:flex;align-items:center;justify-content: center;border-radius:0;transition:all .5s ease-in;height:50px;font-family:'bold';;
            
            &:hover{background-color: #5AB9EA;color:#fff;border:4px solid #fff;}
        }
        

    }
   }
   .call-details{margin-top:30px;text-align: center;
       a{color:#000;font-family:'semi';transition:all .5s ease;
          &:hover{color: #5AB9EA;text-decoration: none;}
    }
       p{padding-bottom:30px;padding-top:10px;font-family:'regular';}
   }
   p.jack{text-align:center;font-family: 'bold';width:100%;display:flex;align-items:center;justify-content:space-between;padding-top:30px;;
    &:after,&:before{height:1px;width:20%;background-color:#89CFE6;content:'';display:block;}
}

}

.footer-nav{
    ul.nav{flex-direction:column;justify-content: center;align-items:center;;
        li{padding:0 20px;text-decoration: none;margin-bottom:20px;transition:all .5s ease;
            a{font-size:22px !important;font-family:'bold';color:#000;text-decoration: none;
                
            }
            &:hover{background-color:#5AB9EA;transition: all .5s ease;
                a{color:#fff;}
            }
        }
    }
}
.last{padding:50px;@include gradient;
    p{text-align:center;;color:#fff;font-family:'semi';line-height:1.4;}
}
.testimonials{position: relative;
    h2{font-family:'bold';font-size:50px;text-align: center;padding-top:50px;}
   a{position:absolute;top:105%;color:#063C70;font-family:'bold';font-size:25px;text-decoration:underline;padding-bottom:5px;;
    &:nth-of-type(1){left:18%;}
    &:nth-of-type(2){right:18%;}
    &:hover{color:#5AB9EA;}
}
}
.story-slider{overflow: hidden;display: flex;justify-content: space-between;align-items: center;margin:100px 0;align-items: center;transition:all .5s ease-out;animation: ease-out;;margin-top:50px;
    .item{margin:0 3%;text-align: center;height:100%;display: flex;flex-direction:column;align-items: center;justify-content: space-between;;
        h6{font-family: 'bold';font-size:24px;color:#063C70;}
        p{font-family:'regular';font-size:16px;padding:10px 0;color:#063C70;line-height:1.5;;}
        .testimonial{display:none;
            p{color:#000;}
            .banner{ width:100%;@include gradient;height:60px;display: flex;align-items: center;justify-content: center;color:#fff;font-family:'bold';font-size:30px;margin-top:30px;;
            }
        }
    }
    .slick-center{border-top:5px solid #5AB9EA;
        .name{display: none;}
        .testimonial{display:block;}
    }
    .slick-track
{
    display: flex !important;
}

.slick-slide{height: inherit !important;display:flex !important;align-items: center;justify-content: center;
    >div{width:100%;}
}

}


     
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
 
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  
 
.heroe{flex-direction:row;height:100%;overflow:hidden;
    .image{order:1;width:50%;height:100%;
        img{height:-webkit-fill-available;}
    }
    .heroe-text{width:100%;padding:30px 20px 0px 0;height:100%;order: 2;text-align:right;
        h1{font-size:40px;padding-top:40px;}
        p{white-space: pre-line;line-height:1.4;}
       a{margin: 0;}
      form{@include form;width:530px;justify-content:flex-end;
             label{margin-left:18px;}
            }
            #move-available{font-size:18px;width:56%;}}}

    form{@include form;width:280px;margin-top:20px;;
        label{margin-left:5px;}
       }
       .community{flex-direction:row;
        h3{width:45%;text-align:left;margin-bottom: 0;font-size:22px;}
        form{width:60%;justify-content: flex-end;}
        
    }
    .photo-gallery{
        .img{height:180px;margin:1.2%;
            h5{font-size:48px;font-family:'black';}
            
        }
    }

    .stories{
       .description{
           a{font-size:14px !important;}
       }
        .story-cards{display:flex;flex-wrap:wrap;justify-content:space-between;
            aside.card{width:49%;
               
            }
        }
    
    }
    .questions{justify-content:space-between;;
        h2{width:100%;text-align:center;}
       .contact{width:45%;text-align:center;text-align:left;
        a{margin:auto;margin-top:30px;}
         
       }
       .call-details{width:50%;margin-top:0;text-align: left;
          
       }
       p.jack{
        &:after,&:before{width:30%;}
    }
    
    
    }
    .footer-nav{
        ul.nav{flex-direction:row;
            li{padding:0 14px;
              
            }
        }
    }


.testimonials{position: relative;
    h2{font-family:'bold';font-size:60px;text-align: center;padding-top:50px;}
    a{position:absolute;top:105%;color:#063C70;font-family:'bold';font-size:40px;text-decoration:underline;padding-bottom:5px;;
     &:nth-of-type(1){left:18%;}
     &:nth-of-type(2){right:18%;}
 }
 }
 .story-slider{
     .item{margin:0 3%;text-align: center;height:100%;display: flex;flex-direction:column;align-items: center;justify-content: space-between;;
         h6{font-family: 'bold';font-size:18px;}
         p{font-family:'regular';font-size:15px;padding:30px 0;line-height:1.4;}
         .testimonial{
             .banner{ width:100%;@include gradient;height:60px;display: flex;align-items: center;justify-content: center;color:#fff;font-family:'bold';font-size:30px;;
             }
         }
     }
     .slick-center{border-top:5px solid #5AB9EA;
         .name{display: none;}
         .testimonial{display:block;}
     }
     .slick-track
 {
     display: flex !important;
 }
 
 .slick-slide{height: inherit !important;display:flex !important;align-items: center;justify-content: center;;
 }
 
 }
 .tabs{margin:50px 0;
    .card{padding:30px 5%;
        ul{flex-direction:row;
            li{font-family:'regular';padding:20px 0;width:33%;padding-left:20px;border-left:0px solid #000;border-bottom:3px solid #000;
                &.active{border-left:0px solid #8860D0;border-bottom:8px solid #8860D0;position: relative;
                    right:2px;}
                a{color: #6D7278;text-decoration: none;font-size:14px;}
            }

        }
    }
  

}
section.quote{
    p{text-align: left;}
}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    h1,h2,h3{font-size:40px;}
    p{font-size:20px;}
    .heroe{height:500px;overflow:hidden;
        .image{order:1;height: 100%;display: block;}
        .heroe-text{width:50%;padding:50px 20px 0px 0;height:100%;order: 2;
           h1{padding-bottom:40px;font-size:40px;}
           p{padding-bottom:20px;white-space:normal;}
           a{padding-bottom:25px;}
            form{@include form;margin-left:auto;width:100%;margin-top:30px;;
                  label{margin-left:20px !important;font-size: 22px;}
    
                }
                #move-available{font-size:22px;width:90%;height:45px;}
    
            }
        }
        .story{margin:90px 0;
            h2{padding-left:0%;margin-bottom: 30px;;}
            p{font-family:'regular';font-size: 22px;;}
        }
        .community{flex-direction:row;
            h3{width:45%;text-align:left;margin-bottom: 0;font-size:30px;}
            form{width:475px;
                label{font-size:22px;margin-bottom:35px;margin-left:12px;display: flex;align-items:center;width:25%;
                    input{height:30px;width:30px;}
                }
                #move-available{height:60px;border:4px solid #fff;font-size:20px;margin-bottom:35px;}
            }
            
        }

      

        .downloads{justify-content:space-between;margin:120px 0;
           
            p{padding-bottom:50px;line-height:40px;font-size:22px;margin:0 5%;text-align: center;}
            .download-form{width:46%;justify-content: space-between;align-items: center;padding-bottom:0px;;
                
                h4{font-family:'bold';padding-bottom:25px;font-size:28px;}
                p{font-size:22px;font-family:'regular';text-align:left;line-height:normal;margin: 0;}
                a{text-align:center;height:70px;display: block;display: flex;align-items: center;justify-content: center;font-family:'regular';color:#000;font-size:22px;text-decoration: none;width:60%;;}
            }
            .line{background:#808080;width:1px;height:366px;margin-right:2%;}
        }
        .sponsor{padding:100px 0;
            h3{font-size:36px;padding-bottom:20px;letter-spacing:3px;}
            p{margin-bottom:50px;white-space:pre-line;line-height:30px;font-size: 24px;padding-top: 0;}
            .sponsor-items{
                p{margin:0;white-space:normal;font-size:16px;}
            }
           
            
            h6{font-size:26px;}
        }
        .equipment{flex-direction:row;;
            .text{
                h3{padding-bottom:40px;}
                p{padding-bottom:50px;line-height:30px;}
            
            a{width:260px;font-size: 24px;}
        }
        img{max-width:50%;}
    }
    .stories{flex-direction: row;justify-content:space-between;margin:100px 5%;
        .description{width:40%;
            h3{line-height:1.2;}
            p{line-height:1.5;padding-bottom:20px;}
            a{font-size: 22px;}
            
        }
        .story-cards{flex-direction:column;width:58%;
            aside.card{width:100%;position: relative;z-index:9;
            
             span{right:-96%;}
            }
        }
    
    }
    section.quote{z-index:1;position:absolute;bottom:-10%;width:100%;padding:50px;;
        p{white-space: pre-line;font-size:15px;}
    
        span{font-family:'regular';font-size:18;}
    
    }
    .questions{
        form{
           
            input:nth-of-type(1){width:47%;margin-right: auto;}
            input:nth-of-type(2){width:47%;margin-left: auto;}
            
            textarea{font-family:'regular';padding-bottom:0px;}
            button{width:200px;height:50px;
                &:before{content:'';display:block;height:1px;width:40px;background-color:#808080;margin-right: 12px;border-radius:0;}
            }
            
    
        }
    }
    .footer-nav{
        ul.nav{margin:50px 0;
            li{padding:0 20px;text-decoration: none;;
                a{font-size:32px;font-family:'bold';color:#000;text-decoration: none;}
            }
        }
    }
    .testimonials{position: relative;
        a{position:absolute;top:68%;font-size:22px;
         &:nth-of-type(1){left:4%;}
         &:nth-of-type(2){right:4%;}
     }
     }
     .tabs{
        .card{
            ul{
                li{
                   
                    a{font-size:18px;}
                }
    
            }
        }
      
    
    }
     .story-slider{
        .item{
           .name{text-align: center;
               h6{font-size:22px;padding-bottom:30%;}
           }
            p{font-size:15px;padding:20px 0;line-height:1.8;}}
         }
         .slick-center{width:10% !important;}

}
   
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .testimonials{
        a{position:absolute;top:68%;
         &:nth-of-type(1){left:8%;}
         &:nth-of-type(2){right:8%;}
     }
     }

    .sponsor{
        
       
        .sponsor-items{
            p{font-size:20px;}
            a{font-size: 20px;}
        }
       
        
        h6{font-size:26px;}
    }
        .heroe{height:600px;overflow:hidden;
        .image{order:1;height:100%;}
        .heroe-text{width:50%;padding:50px 20px 0px 0;height:100%;order: 2;padding-right:3%;
           h1{padding-bottom:40px;font-size:50px;}
           p{padding-bottom:20px;white-space:pre-line;font-size:22px;line-height:1.5;}
           a{padding-bottom:25px;font-size:22px;font-family:'bold'}
            form{@include form;margin-left:auto;width:98%;
                 label{margin-left:30px;font-size:22px;width:25%;justify-content:flex-end;
                     input[type="checkbox"]{padding:40px;height:16px;width:16px;zoom:.75;margin-right:15px;}
                 }
                }
                #move-available{font-size:22px;width:80%;height:60px;display:flex;align-items: center;justify-content:center;
                    img{margin-left:12px;}
                }
    
            }
        }
        .community{flex-direction:row;
            h3{width:45%;text-align:left;margin-bottom: 0;font-size:30px;}
            form{width:475px;
                label{font-size:26px;margin-bottom:35px;
                    input{height:30px;width:30px;zoom:.75;margin-right:15px;;}
                }
                #move-available{height:60px;border:2px solid #fff;font-size:22px;margin-bottom:35px;}
            }
            
        }
        .tabs{margin:120px 0;
            .card{padding:140px 5%;
                ul{flex-direction:column;
                    li{font-family:'regular';padding:30px 0;width:100%;padding-left:20px;border-left:4px solid #000;border-bottom:0px solid #000;
                        &.active{border-left:8px solid #8860D0;border-bottom:0px solid #8860D0;left:-2px;
                            a{color:#8860D0;}
                        }
                        a{color: #6D7278;text-decoration: none;font-size:24px;}
                    }
        
                }
            }
            .category{
                h3{font-size:32px;}
                p{font-size:18px;}
            }
          
        
        }
        .equipment{margin:120px 0;
            .text{
                h3{font-size: 48px;}
                p{font-size:24px;line-height:30px;white-space: pre-line;}
            
            a{width:320px;height:70px;}
        }
        img{max-width:50%;}
    }
    .photo-gallery{margin:90px 0;
        .img{height:180px;margin:1.2%;;;
            
        }
    }
    .stories{
        .description{
            h3{line-height:1.2;font-size:40px;}
            p{line-height:1.5;padding-bottom:20px;}
            a{width: 300px;font-size:22px !important;}
            
        }
        .story-cards{flex-direction:column;width:58%;
            aside.card{width:100%;
                p{font-size: 22px;padding-right:50px;}
                a{font-size: 22px;}
            
             span{right:-97%;}
            }
        }
    
    }
    section.quote{padding:70px 30px;;
        p{white-space: pre-line;font-size:22px;width:50%;}
    
        span{font-family:'regular';font-size:18px;}
    
    }
    .questions{margin:75px 5%;
        h2{font-size:48px;padding-bottom:80px;padding-top: 50px;}
        h6{font-size:36px;padding-bottom:40px;}
       .contact{width:45%;text-align:center;
       
        p{font-size:32px;padding-bottom:30px;white-space: pre-line;line-height:1.4;}
        a{margin:auto;margin-top:30px;height:70px;width:250px;font-size:22px;}
        form{margin-top:40px;
            button{margin-top:40px;}
        }
         
       }
       .call-details{width:50%;margin-top:0;;
        a{font-size:32px;}
        p{font-size:22px;}
          
       }
       p.jack{margin-top:70px;font-size:32px;;
        &:after,&:before{width:30%;}
    }
    
    
    }
    .last{
        p{font-size:32px;}
    }

    .story-slider{
        .item{
            h6{font-size:24px;}
            p{font-size:16px;}
           
        }
       
    }
    .footer-nav ul.nav li a {font-size:32px !important;}
    .questions .call-details {padding-left:7%;}
    .questions .contact {padding-left:5%;}

    .downloads{
           
       
        .download-form{width:40%;
            
        
        }
        
    }


}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .heroe{height:90vh;
        .heroe-text{
            h1{font-size:60px;padding-bottom:20px;}
            p{font-size: 22px;}
        form{padding-top:40px;width:100%;
            label{font-size:22px;margin-bottom:40px;width:20%;
                input[type="checkbox"]{height:40px;width:40px;}
            }
            #move-available{border:4px solid #fff;height:60px;width:300px;font-size: 20px;margin-bottom:40px;}
        }}
    }
    .community{flex-direction:row;padding:100px 5%;
        h3{width:45%;text-align:left;margin-bottom: 0;font-size:36px;white-space: pre-line;margin-bottom:12px;}
        form{width:55%;
            label{font-size:24px;margin-bottom:35px;margin-left:30px;width:20%;
                input{height:30px;width:30px;zoom: .75 !important;}
            }
            #move-available{height:60px;border:4px solid #fff;font-size:22px;margin-bottom:35px;width:50%;}
        }
        
    }
    .tabs{margin:120px 0;
        .card{padding:120px 5%;
            ul{
                li{
                  
                    a{font-size:30px;}
                    &.active{left: -2px !important;}
                }
    
            }
        }
      
    
    }
    .photo-gallery{
        .img{height:270px;margin:1.2%;;;
            
        }
    }
    .stories{
        .description{
            h3{font-size:48px;padding-bottom:40px;}
           
            a{width:400px;height:70px;}
            
        }
        .story-cards{width:47%;
            aside.card{width:100%;
                
            
             span{right:-97%;font-size:22px;}
            }
        }
    
    }
    section.quote{padding:70px;;
        p{white-space: pre-line;font-size:30px;}
    
        span{font-family:'regular';font-size:22px;}
    
    }

}
 
 
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 